{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title_block %}

        {% endblock %}
    </title>
    {% include 'technology/navbar.html' %}
    {% include 'technology/cdnlines.html' %}
    <link type="text/css" href="{% static 'CSS/home.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&displa=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">

</head>
<body>
<div class="content">
    {% block content %}


    {% endblock %}
</div>





















































<footer class="page-footer text-white">
    <div style="background-color: #6351ce;">
    <div class="container">
        <div class="row">
        <div class="offset-md-0 col-md-6">
          <h6 class="text-white">Get connected with us on social networks!</h6>
        </div>
        <div class="col-md-6">
            <a class="fa fa-facebook text-white mr-4" href="#"></a>
            <a class="fa fa-twitter white-text mr-4" href="#"></a>
            <a class="fa fa-youtube white-text mr-4" href="#"></a>
            <a class="fa fa-linkedin white-text mr-4" href="#"></a>
            <a class="fa fa-instagram white-text" href="#"></a>
        </div>
        </div>
    </div>
    </div>


    <div class="container">
    <div class="row">


        <div class="col-md-3 ">
            <h6 class="text-uppercase h6 font-weight-bold"><u>WORLD TECHNOLOGIES</u></h6>
            <p id="g">Training Institute Overview  world Technologies(Pronounced: worldTech) is a leading software training institute
                providing Software Training, Project Guidance, IT Consulting and Technology Workshops.
                Using our enhanced global software training delivery methodology,</p>
        </div>


        <div class="col-md-3 pro">
            <h6 class="text-uppercase  h6 font-weight-bold"><u>INTERVIEW QUESTIONS</u></h6>
            <p id="g"><a href="#">Pyhton Interview Questions</a></p>
            <p id="g"><a href="#">Django Interview Questions</a></p>
            <p><a href="#">DevOps Interview Questions</a></p>
            <p><a href="#"> AWS Interview Questions</a></p>
            <p><a href="#">JavaScript Interview Questions</a></p>
        </div>



        <div class="col-md-3">
            <h6 class="text-uppercase h6 font-weight-bold"><u>Useful links</u></h6>
            <p id="g"><a href="#!">Your Account</a></p>
            <p><a href="#!">Become an Affiliate</a></p>
            <p><a href="#!">Shipping Rates</a></p>
            <p><a href="#!">Help</a></p>
        </div>


        <div class="col-md-3 line">
            <h6 class="text-uppercase h6 font-weight-bold"><u>Contact</u></h6>
            <p><i class="fa fa-home" aria-hidden="true"></i> Balaji colony, Tirupati, AP</p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i> www.worldtechnologies.com</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i> + 8790707341</p>
            <p><i class="fa fa-print" aria-hidden="true"></i> + 040 259633/p>
        </div>
    </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> worldtech.com</a>
  </div>

</footer>


</body>
</html>