{% extends 'technology/base.html' %}
{% load static %}
<html>
<head>
    <title>
        {% block title_block %}
            Home
        {% endblock %}
    </title>
</head>
<body>
{% block content %}

    <marquee class="marquee"><h4><a href="https://www.animatedimages.org/cat-new-signs-583.htm"><img src="https://www.animatedimages.org/data/media/583/animated-new-image-0151.gif" border="0" alt="animated-new-image-0151" /></a>"New Batch ON 16-04-2020 -||- SELENIUM LIVE PROJECT @ 2:00 PM TO 5:00 PM 25 DAYS By MR. SANTHOSH Contact - 9502991277  </h4></marquee>
     <div class="jumbotron">
    <div class="container-fluid">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/picc1.png' %}">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/picc2.png' %}" >
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/picc3.png' %}" >
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/picc4.png' %}" >
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/picc5.png' %}" >
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/picc6.png' %}" >
                    </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span></a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span></a>
            </div>
        </div>
    </div>
    </div><br><br><br><br><br><br>
    <br><br>
    <h4 class="widgettitle">Featured Software Courses:</h4><br>
    <div class="container">
        <div class="row">
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail"><img id='s' class="card-img-top" src="{% static 'images/p1.png' %}" alt="Card image cap"></div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail"><img class="card-img-top" src="{% static 'images/p2.png' %}" alt="Card image cap"></div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail"><img class="card-img-top" src="{% static 'images/p3.png' %}" alt="Card image cap"></div>
            </div><br>
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail"><img id='s' class="card-img-top" src="{% static 'images/p4.png' %}" alt="Card image cap"></div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail"><img class="card-img-top" src="{% static 'images/p5.png' %}" alt="Card image cap"></div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail"><img class="card-img-top" src="{% static 'images/p6.png' %}" alt="Card image cap"></div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail"><img id='s' class="card-img-top" src="{% static 'images/p7.png' %}" alt="Card image cap"></div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail"><img class="card-img-top" src="{% static 'images/p8.png' %}" alt="Card image cap"></div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail"><img class="card-img-top" src="{% static 'images/p9.png' %}" alt="Card image cap"></div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail"><img  id='s' class="card-img-top" src="{% static 'images/p10.png' %}" alt="Card image cap"></div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail"><img class="card-img-top" src="{% static 'images/p11.png' %}" alt="Card image cap"></div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail"><img class="card-img-top" src="{% static 'images/p12.png' %}" alt="Card image cap"></div>
            </div>

    </div>
</div>
     </div>
{% endblock %}
</body>
</html>