{% load static %}
<html>
<head>
    <title>services</title>
    {% include 'technology/cdnlines.html' %}

</head>




<body>
<style>

.entry-title {
    font-size: 20px;
    line-height: 1;
}
h2{
    line-height: 24px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    color: #222;
    font-weight: 600;
    margin-top: 50px;
}
    p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
        margin: 0 0 2.4rem;
    padding: 0;
}
    .si{
        margin-left: 80px;
    }
    .t{
        margin-left: 16px;
    }
    .t1{
        margin-bottom: 0px;
    }
    #r{
        margin-top: 20px;
    }
</style>



{% include 'technology/navbar1.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="offset-md-1 col-md-8">
            <div class="jumbotron">
                <div class="container-fluid">
                    <div class="row">
                        <div class="offset-md- col-md-8">
                            <header class="entry-header">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="offset-md-5">
                                            <h1 class="entry-title" itemprop="name">Python Training</h1><br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="offset-md-5 col-md-4">
                                            <img src="{% static 'images/c3.jpg' %}" class="card-img-top" alt="...">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="offset-md-5 col-md-6">
                                            <h6 class="card-title t">Mr  VENKATESH</h6>
                                            <p class="card-text t1">7+ years Experience </p>
                                            <a href="{% url 'demo' %}" id='r' class="btn btn-primary btn-lg a"> Register Here</a>
                                        </div>
                                    </div>
                                </div>


    <h2><span id="Python_Training_Overview">Python Training Overview</span></h2>
    <p>Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. Python has been one of the premier, flexible, and powerful open-source language that is easy to learn, easy to use, and has powerful libraries for data manipulation and analysis</p>
    <h2><span id="What_are_the_Python_Course_Pre-requisites">What are the Python Course Pre-requisites</span></h2>
    <p>There are no hard pre-requisites. Basic understanding of Computer Programming terminologies is sufficient. Also, basic concepts related to Programming and <a href="http://13.235.101.185/oracle-training/" target="_blank" rel="noopener noreferrer">Database</a> is beeficial but not mandatory.</p>
    <h2><span id="Objectives_of_the_Course">Objectives of the Course</span></h2>
    <ul>
        <li>To understand the concepts and constructs of Python</li>
        <li>To create own Python programs, know the machine learning algorithms in Python and work on a real-time project running on Python</li>
    </ul>
    <h2><span id="Who_should_do_the_course">Who should do the course</span></h2>
    <ul>
        <li>Big Data Professionals</li>
        <li>IT Developers</li>
        <li>Those who are showing interest to build their career in Python</li>
    </ul>
    <h2><span id="Python_Training_Course_Duration">Python Training Course Duration</span></h2>
    <ul>
        <li>35 Days, Daily 1 Hours</li>
    </ul>
    <h2><span id="Python_Course_Content">Python Course Content</span></h2><br>
    <h2><span id="Core_Python">Core Python</span></h2>
    <h2><span id="Introduction_to_Languages"><strong>Introduction to Languages</strong></span></h2>
    <ul>
        <li>What is Language?</li>
        <li>Types of languages</li>
        <li>Introduction to Translators
            <ul>
                <li>Compiler</li>
                <li>Interpreter</li>
            </ul>
        </li>
        <li>What is Scripting Language?</li>
        <li>Types of Script</li>
        <li>Programming Languages v/s Scripting Languages</li>
        <li>Difference between Scripting and Programming languages</li>
        <li>What is programming paradigm?</li>
        <li>Procedural programming paradigm</li>
        <li>Object Oriented Programming paradigm</li>
    </ul>
<h2><span id="Introduction_to_Python"><strong>Introduction to Python</strong></span></h2>
    <ul>
        <li>What is Python?</li>
        <li>WHY PYTHON?</li>
        <li>History</li>
        <li>Features – Dynamic, Interpreted, Object oriented, Embeddable, Extensible, Large standard libraries, Free and Open source</li>
        <li>Why Python is General Language?</li>
        <li>Limitations of Python</li>
        <li>What is PSF?</li>
        <li>Python implementations</li>
        <li>Python applications</li>
        <li>Python versions</li>
        <li>PYTHON IN REALTIME INDUSTRY</li>
        <li>Difference between Python 2.x and 3.x</li>
        <li>Difference between Python 3.7 and 3.8</li>
        <li>Software Development Architectures</li>
    </ul>
    <h2><span id="Python_Softwares"><strong>Python Software’s</strong></span></h2>
    <ul>
        <li>Python Distributions</li>
        <li>Download &amp;Python Installation Process in Windows, Unix, Linux and Mac</li>
        <li>Online Python IDLE</li>
        <li>Python Real-time IDEs like Spyder, Jupyter Note Book, PyCharm, Rodeo, Visual Studio Code, ATOM, PyDevetc</li>
    </ul>
    <h2><span id="Python_Language_Fundamentals"><strong>Python Language Fundamentals</strong></span></h2>
    <ul>
        <li>Python Implementation Alternatives/Flavors</li>
        <li>Keywords</li>
        <li>Identifiers</li>
        <li>Constants / Literals</li>
        <li>Data types</li>
        <li>Python VS JAVA</li>
        <li>Python Syntax</li>
    </ul>
    <h2><span id="Different_Modes_of_Python"><strong>Different Modes of Python</strong></span></h2>
<ul>
    <li>Interactive Mode</li>
    <li>Scripting Mode</li>
    <li>Programming Elements</li>
<li>Structure of Python program</li>
<li>First Python Application</li>
<li>Comments in Python</li>
<li>Python file extensions</li>
<li>Setting Path in Windows</li>
<li>Edit and Run python program without IDE</li>
<li>Edit and Run python program using IDEs</li>
<li>INSIDE PYTHON</li>
<li>Programmers View of Interpreter</li>
<li>Inside INTERPRETER</li>
<li>What is Byte Code in PYTHON?</li>
<li>Python Debugger</li>
</ul>
<h2><span id="Python_Variables"><strong>Python Variables</strong></span></h2>
<ul>
<li>bytes Data Type</li>
<li>byte array</li>
<li>String Formatting in Python</li>
<li>Math, Random, Secrets Modules</li>
<li>Introduction</li>
<li>Initialization of variables</li>
<li>Local variables</li>
<li>Global variables</li>
<li>‘global’ keyword</li>
<li>Input and Output operations</li>
<li>Data conversion functions – int(), float(), complex(), str(), chr(), ord()</li>
</ul>
<h2><span id="Operators"><strong>Operators</strong></span></h2>
<ul>
<li>Arithmetic Operators</li>
<li>Comparison Operators</li>
<li>Python Assignment Operators</li>
<li>Logical Operators</li>
<li>Bitwise Operators</li>
<li>Shift operators</li>
<li>Membership Operators</li>
<li>Identity Operators</li>
<li>Ternary Operator</li>
<li>Operator precedence</li>
<li>Difference between “is” vs “==”</li>
</ul>
<h2><span id="Input_Output_Operators"><strong>Input &amp; Output Operators</strong></span></h2>
<ul>
<li>Print</li>
<li>Input</li>
<li>Command-line arguments</li>
</ul>
<p><strong>Control Statements</strong></p>
<ul>
<li>Conditional control statements</li>
<li>If</li>
<li>If-else</li>
<li>If-elif-else</li>
<li>Nested-if</li>
<li>Loop control statements</li>
<li>for</li>
<li>while</li>
<li>Nested loops</li>
<li>Branching statements</li>
<li>Break</li>
<li>Continue</li>
<li>Pass</li>
<li>Return</li>
<li>Case studies</li>
</ul>
<h2><span id="Data_Structures_or_Collections"><strong>Data Structures or Collections</strong></span></h2>
<ul>
<li>Introduction</li>
<li>Importance of Data structures</li>
<li>Applications of Data structures</li>
<li>Types of Collections</li>
<li>Sequence</li>
<li>Strings, List, Tuple, range</li>
<li>Non sequence</li>
<li>Set, Frozen set, Dictionary</li>
<li><strong>Strings </strong></li>
<li>What is string</li>
<li>Representation of Strings</li>
<li>Processing elements using indexing</li>
<li>Processing elements using Iterators</li>
<li>Manipulation of String using Indexing and Slicing</li>
<li>String operators</li>
<li>Methods of String object</li>
<li>String Formatting</li>
<li>String functions</li>
<li>String Immutability</li>
<li>Case studies</li>
</ul>
<h2><span id="List_Collection"><strong>List Collection</strong></span></h2>
<ul>
<li>What is List</li>
<li>Need of List collection</li>
<li>Different ways of creating List</li>
<li>List comprehension</li>
<li>List indices</li>
<li>Processing elements of List through Indexing and Slicing</li>
<li>List object methods</li>
<li>List is Mutable</li>
<li>Mutable and Immutable elements of List</li>
<li>Nested Lists</li>
<li>List_of_lists</li>
<li>Hardcopy, shallowCopy and DeepCopy</li>
<li>zip() in Python</li>
<li>How to unzip?</li>
<li>Python Arrays:</li>
<li>Case studies</li>
</ul>
<h2><span id="Tuple_Collection"><strong>Tuple Collection</strong></span></h2>
<ul>
<li>What is tuple?</li>
<li>Different ways of creating Tuple</li>
<li>Method of Tuple object</li>
<li>Tuple is Immutable</li>
<li>Mutable and Immutable elements of Tuple</li>
<li>Process tuple through Indexing and Slicing</li>
<li>List v/s Tuple</li>
<li>Case studies</li>
</ul>
<h2><span id="Set_Collection"><strong>Set Collection</strong></span></h2>
<ul>
<li>What is set?</li>
<li>Different ways of creating set</li>
<li>Difference between list and set</li>
<li>Iteration Over Sets</li>
<li>Accessing elements of set</li>
<li>Python Set Methods</li>
<li>Python Set Operations</li>
<li>Union of sets</li>
<li>functions and methods of set</li>
<li>Python Frozen set</li>
<li>Difference between set and frozenset ?</li>
<li>Case study</li>
</ul>
<h2><span id="Dictionary_Collection"><strong>Dictionary Collection</strong></span></h2>
<ul>
<li>What is dictionary?</li>
<li>Difference between list, set and dictionary</li>
<li>How to create a dictionary?</li>
<li>PYTHON HASHING?</li>
<li>Accessing values of dictionary</li>
<li>Python Dictionary Methods</li>
<li>Copying dictionary</li>
<li>Updating Dictionary</li>
<li>Reading keys from Dictionary</li>
<li>Reading values from Dictionary</li>
<li>Reading items from Dictionary</li>
<li>Delete Keys from the dictionary</li>
<li>Sorting the Dictionary</li>
<li>Python Dictionary Functions and methods</li>
<li>Dictionary comprehension</li>
</ul>
<h2><span id="Functions"><strong>Functions</strong></span></h2>
<ul>
<li>What is Function?</li>
<li>Advantages of functions</li>
<li>Syntax and Writing function</li>
<li>Calling or Invoking function</li>
<li>Classification of Functions
<ul>
<li>No arguments and No return values</li>
<li>With arguments and No return values</li>
<li>With arguments and With return values</li>
<li>No arguments and With return values</li>
<li>Recursion</li>
</ul>
</li>
<li>Python argument type functions :
<ul>
<li>Default argument functions</li>
<li>Required(Positional) arguments function</li>
<li>Keyword arguments function</li>
<li>Variable arguments functions</li>
</ul>
</li>
<li>‘pass’ keyword in functions</li>
<li>Lambda functions/Anonymous functions
<ul>
<li>map()</li>
<li>filter()</li>
<li>reduce()</li>
</ul>
</li>
<li>Nested functions</li>
<li>Non local variables, global variables</li>
<li>Closures</li>
<li>Decorators</li>
<li>Generators</li>
<li>Iterators</li>
<li>Monkey patching</li>
</ul>
<h2><span id="Advanced_Python"><strong>Advanced Python</strong></span></h2><br>
<h2><span id="Python_Modules"><strong>Python Modules</strong></span></h2>
<ul>
<li>Importance of modular programming</li>
<li>What is module</li>
<li>Types of Modules – Pre defined, User defined.</li>
<li>User defined modules creation</li>
<li>Functions based modules</li>
<li>Class based modules</li>
<li>Connecting modules</li>
<li>Import module</li>
<li>From … import</li>
<li>Module alias / Renaming module</li>
<li>Built In properties of module</li>
</ul>
<h2><span id="Packages"><strong>Packages</strong></span></h2>
<ul>
<li>Organizing python project into packages</li>
<li>Types of packages – pre defined, user defined.</li>
<li>Package v/s Folder</li>
<li>py file</li>
<li>Importing package</li>
<li><strong>PIP</strong></li>
<li>Introduction to PIP</li>
<li>Installing PIP</li>
<li>Installing Python packages</li>
<li>Un installing Python packages</li>
</ul>
<h2><span id="OOPs"><strong>OOPs</strong></span></h2>
<ul>
<li>Procedural v/s Object oriented programming</li>
<li>Principles of OOP – Encapsulation , Abstraction (Data Hiding)</li>
<li>Classes and Objects</li>
<li>How to define class in python</li>
<li>Types of variables – instance variables, class variables.</li>
<li>Types of methods – instance methods, class method, static method</li>
<li></li>
<li>Object initialization</li>
<li>‘self’ reference variable</li>
<li>‘cls’ reference variable</li>
<li>Access modifiers – private(__) , protected(_), public</li>
<li>AT property class</li>
<li>Property() object</li>
<li>Creating object properties using setaltr, getaltr functions</li>
<li>Encapsulation(Data Binding)</li>
<li>What is polymorphism?</li>
<li>Overriding</li>
</ul>
<ol>
<li>i) Method overriding</li>
<li>ii) Constructor overriding</li>
</ol>
<ul>
<li>Overloading</li>
</ul>
<ol>
<li>i) Method Overloading</li>
<li>ii) Constructor Overloading</li>
</ol>
<p>iii)&nbsp; Operator Overloading</p>
<ul>
<li>Class re-usability</li>
<li>Composition</li>
<li>Aggregation</li>
<li>Inheritance – single , multi level, multiple, hierarchical and hybrid inheritance and Diamond inheritance</li>
<li>Constructors in inheritance</li>
<li>Object class</li>
<li>super()</li>
<li>Runtime polymorphism</li>
<li>Method overriding</li>
<li>Method resolution order(MRO)</li>
<li>Method overriding in Multiple inheritance and Hybrid Inheritance</li>
<li>Duck typing</li>
<li>Concrete Methods in Abstract Base Classes</li>
<li>Difference between Abstraction &amp; Encapsulation</li>
<li>Inner classes</li>
<li>Introduction</li>
<li>Writing inner class</li>
<li>Accessing class level members of inner class</li>
<li>Accessing object level members of inner class</li>
<li>Local inner classes</li>
<li>Complex inner classes</li>
<li>Case studies</li>
</ul>
<p><strong>Exception Handling &amp; Types of Errors</strong></p>
<ul>
<li>What is Exception?</li>
<li>Why exception handling?</li>
<li>Syntax error v/s Runtime error</li>
<li>Exception codes – AttributeError, ValueError, IndexError, TypeError…
<ul>
<li>Handling exception – try except block</li>
<li>Try with multi except</li>
<li>Handling multiple exceptions with single except block</li>
</ul>
</li>
<li>Finally block
<ul>
<li>Try-except-finally</li>
<li>Try with finally</li>
<li>Case study of finally block</li>
</ul>
</li>
<li>Raise keyword
<ul>
<li>Custom exceptions / User defined exceptions</li>
<li>Need to Custom exceptions</li>
</ul>
</li>
<li>Case studies</li>
</ul>
<p><strong>Regular expressions</strong></p>
<ul>
<li>Understanding regular expressions</li>
<li>String v/s Regular expression string</li>
<li>“re” module functions</li>
<li>Match()</li>
<li>Search()</li>
<li>Split()</li>
<li>Findall()</li>
<li>Compile()</li>
<li>Sub()</li>
<li>Subn()</li>
<li>Expressions using operators and symbols</li>
<li>Simple character matches</li>
<li>Special characters</li>
<li>Character classes</li>
<li>Mobile number extraction</li>
<li>Mail extraction</li>
<li>Different Mail ID patterns</li>
<li>Data extraction</li>
<li>Password extraction</li>
<li>URL extraction</li>
<li>Vehicle number extraction</li>
<li>Case study</li>
</ul>
<p><strong>File &amp;Directory handling</strong></p>
<ul>
<li>Introduction to files</li>
<li>Opening file</li>
<li>File modes</li>
<li>Reading data from file</li>
<li>Writing data into file</li>
<li>Appending data into file</li>
<li>Line count in File</li>
<li>CSV module</li>
<li>Creating CSV file</li>
<li>Reading from CSV file</li>
<li>Writing into CSV file</li>
<li>Object serialization – pickle module</li>
<li>XML parsing</li>
<li>JSON parsing</li>
</ul>
<p><strong>Python Logging</strong></p>
<ul>
<li>Logging Levels</li>
<li>implement Logging</li>
<li>Configure Log File in over writing Mode</li>
<li>Timestamp in the Log Messages</li>
<li>Python Program Exceptions to the Log File</li>
<li>Requirement of Our Own Customized Logger</li>
<li>Features of Customized Logger</li>
</ul>
<p><strong>Date &amp; Time module</strong></p>
<ul>
<li>How to use Date &amp; Date Time class</li>
<li>How to use Time Delta object</li>
<li>Formatting Date and Time</li>
<li>Calendar module</li>
<li>Text calendar</li>
<li>HTML calendar</li>
</ul>
<p><strong>OS module</strong></p>
<ul>
<li>Shell script commands</li>
<li>Various OS operations in Python</li>
<li>Python file system shell methods</li>
<li>Creating files and directories</li>
<li>Removing files and directories</li>
<li>Shutdown and Restart system</li>
<li>Renaming files and directories</li>
<li>Executing system commands</li>
</ul>
<p><strong>Multi-threading &amp; Multi Processing</strong></p>
<ul>
<li>Introduction</li>
<li>Multi tasking v/s Multi threading</li>
<li>Threading module</li>
<li>Creating thread – inheriting Thread class , Using callable object</li>
<li>Life cycle of thread</li>
<li>Single threaded application</li>
<li>Multi threaded application</li>
<li>Can we call run() directly?</li>
<li>Need to start() method</li>
<li>Sleep()</li>
<li>Join()</li>
<li>Synchronization – Lock class – acquire(), release() functions</li>
<li>Case studies</li>
</ul>
<p><strong>Garbage collection</strong></p>
<ul>
<li>Introduction</li>
<li>Importance of Manual garbage collection</li>
<li>Self reference objects garbage collection</li>
<li>‘gc’ module</li>
<li>Collect() method</li>
<li>Threshold function</li>
<li>Case studies</li>
</ul>
<p><strong>Python Data Base Communications(PDBC)</strong></p>
<ul>
<li>Introduction to DBMS applications</li>
<li>File system v/s DBMS</li>
<li>Communicating with MySQL</li>
<li>Python – MySQL connector</li>
<li>connector module</li>
<li>connect() method</li>
<li>Oracle Database</li>
<li>Install cx_Oracle</li>
<li>Cursor Object methods</li>
<li>execute() method</li>
<li>executeMany() method</li>
<li>fetchone()</li>
<li>fetchmany()</li>
<li>fetchall()</li>
<li>Static queries v/s Dynamic queries</li>
<li>Transaction management</li>
<li>Case studies</li>
</ul>
<p><strong>Python – Network Programming</strong></p>
<ul>
<li>What is Sockets?</li>
<li>What is Socket Programming?</li>
<li>The socket Module</li>
<li>Server Socket Methods</li>
<li>Connecting to a server</li>
<li>A simple server-client program</li>
<li>Server</li>
<li>Client</li>
</ul>
<p><strong>Tkinter &amp; Turtle</strong></p>
<ul>
<li>Introduction to GUI programming</li>
<li>Tkinter module</li>
<li>Tk class</li>
<li>Components / Widgets</li>
<li>Label , Entry , Button , Combo, Radio</li>
<li>Types of Layouts</li>
<li>Handling events</li>
<li>Widgets properties</li>
<li>Case studies</li>
</ul>
<p><strong>Data analytics modules</strong></p>
<ul>
<li>Numpy</li>
<li>Introduction</li>
<li>Scipy</li>
<li>Introduction</li>
<li>Arrays</li>
<li>Datatypes</li>
<li>Matrices</li>
<li>N dimension arrays</li>
<li>Indexing and Slicing</li>
<li>Pandas</li>
<li>Introduction</li>
<li>Data Frames</li>
<li>Merge , Join, Concat</li>
<li>MatPlotLib introduction</li>
<li>Drawing plots</li>
<li>Introduction to Machine learning</li>
<li>Types of Machine Learning?</li>
<li>Introduction to Data science</li>
</ul>
<p><strong>DJANGO</strong></p>
<ul>
<li>Introduction to PYTHON Django</li>
<li>What is Web framework?</li>
<li>Why Frameworks?</li>
<li>Define MVT Design Pattern</li>
<li>Difference between MVC and MVT</li>
</ul>

</header>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>